<section class="">
    <div class="table-agile-info">
        <ul class="nav nav-pills nav-stacked mail-nav">        
            <div class="panel-heading">
                 Fast Links
            </div>
            <div class="col-md-8 col-md-offset-2">
                <ul class="nav nav-pills nav-stacked mail-nav">
                    {% if user.is_superuser %}
                        <li><a href="{% url 'stock_categories' %}">Categories</a></li>
                    {% endif %}
                    <li><a href="{% url 'serial_list' %}">Serials</a></li>
                </ul>
            </div>
        </ul>
    </div>
</section>
