{% extends "movement/base.html" %}
{% block htmlhead %}
{{ form.media }}
{% endblock %}
{% block header %}Movement - Transfer{% endblock %}
{% block body %}
<form method="POST" action=".">{% csrf_token %} 
    {{ form.non_field_errors }}
  <ul>
      <li>
      {{ form.item.errors }}
      {{ form.item.label_tag }}: {{ form.item }}
      </li>
      <li>
      {{ form.quantity.errors }}
      {{ form.quantity.label_tag }}: {{ form.quantity }}
      </li>
      <li>
      {{ form.source.errors }}
      {{ form.source.label_tag }}: {{ form.source }}
      </li>
     <li>
      {{ form.destination.errors }}
      {{ form.destination.label_tag }}: {{ form.destination }}
      </li>
      <div class='submit'><input type="SUBMIT" value="Submit" /></div>
 </form>
{% endblock %}
