{% extends "expenses/base.html" %}
{% load static from staticfiles %}

{% block extrahead %}
<link href="{% static 'css/table.css' %}" rel="stylesheet" type="text/css" media="screen" />
{% endblock %}
{% block header %}
Expenses
{% endblock %}
{% block body %}
<div>
<table border=0 cellpadding=3 cellspacing=0 width=100% class="sortable">
<thead>
<tr>
    <th class='sort-alpha'>Name</th>
    <th class='sort-alpha'>Location</th>
    <th class='sort-alpha'>Category</th>
    <th class='sort-alpha'>Amount</th>
    <th class='sort-alpha'>Date</th>
</tr>
</thead>
<tbody>
    {% for expense in object_list %}
        <tr class="{% cycle 'even' 'odd' %}">
            <td>{{ expense.description }}</td>
            <td>{{ expense.location }}</td>
            <td>{{ expense.category }}</td>
            <td>{{ expense.amount }}</td>
            <td>{{ expense.date|date:"jS b Y" }}</td>
        </tr>
    {% empty %}
    No expense categories to display.
    {% endfor %}
</tbody>

</table>
</div>
{% endblock %}
