{% extends "newbase.html" %}
{% load staticfiles %}

{% block title %}Expenses{% endblock %}


{% block content %}
<section class="wrapper">
<div class="row">
    <div class="col-md-9">
       <div class="table-agile-info">
         <div class="panel panel-default">
            <div class="panel-heading">
                Expenses
            </div>

  
            <div>
              <table class="table" ui-jq="footable" ui-options='{
                "paging": {
                  "enabled": true
                },
                "filtering": {
                  "enabled": true
                },
                "sorting": {
                  "enabled": true
                }}'>
                <thead>
                  <tr>
                    
                    <th data-breakpoints="xs">Name</th>
                    <th>Location</th>
                    <th>Category</th>
                    <th>Amount</th>
                    <th>Date</th>
                  </tr>
                </thead>
                <tbody>

                {% for expense in object_list %}
                    <tr class="{% cycle 'even' 'odd' %}">
                        <td>{{ expense.description }}</td>
                        <td>{{ expense.location }}</td>
                        <td>{{ expense.category }}</td>
                        <td>{{ expense.amount }}</td>
                        <td>{{ expense.date|date:"jS b Y" }}</td>
                    </tr>
                {% empty %}
                        <p style="text-align:center; padding-top: 15px;">
                        No expense categories to display.
                        </p>
                {% endfor %}

                </tbody>
                <tfoot>
                    
                </tfoot>
              </table>
            </div>
          </div>
        </div>
    </div>
    <div class="col-md-3">
        {% include "expenses/_submenu.html" %}
        </div>
    </div>
</div>
</section>

{% endblock content %}
