{% extends "sale/base.html" %}
{% load reports %}
{% block extrahead %}
<link href="{{ MEDIA_URL }}css/table.css" rel="stylesheet" type="text/css" media="screen" />
{{ form.media }}
{% endblock %}
{% block body %}
{% if date_field %}
<div id="daterange">
    <form method="get" action="">
    <table class="date">
        {% if form.errors %}
        <caption>
            <ul class="field-error">
                {% for k,v in form.errors.items %}
                <li>{{ v }}</li>
                {% endfor %}
            </ul>
        </caption>
        {% endif %}
        <tr>
            <td class="date">{{ form.start.errors }}From: {{ form.start }}</td>    
            <td class="date">{{ form.end.errors }}To: {{ form.end }}</td>
            <td class="date"><input type="submit" value="find" /></td>
        </tr>
    </table>
    </form>
</div>
{% endif %}
<table border=0 cellpadding=3 cellspacing=0 width=100% class="sortable">
<thead>
<tr>
    <th class='sort-alpha'>Item</th>
    <th class='sort-alpha'>Quantity</th>
    <th class='sort-alpha'>Price</th>
    <th class='sort-alpha'>Customer</th>
    <th class='sort-alpha'>Date</th>
</tr>
</thead>
<tbody>
        {% for sale in sale_list %}
            <tr>
                <td>{{ sale.item }}</td>
                <td>{{ sale.quantity }}</td>
                <td>{{ sale.price|floatformat:"2" }}</td>
                <td>{{ sale.invoice.customer }}</td>
                <td>{{ sale.invoice.date|date:'d/m/Y' }}</td>
            </tr>
        {% empty %}
            No sale to display.
        {% endfor %}
</tbody>
<tfoot>
    <tr>
        <td colspan="4">
            {% for p in paginator.page_range %}
            {% ifnotequal page p %}
                <span class="paginator"><a href="?page={{ p }}">{{ url }}{{ p }}</a></span>
            {% else %}
            <span class="paginator">{{ p }}</span>
            {% endifnotequal %}
            {% endfor %}
        </td>
        <td>
            Total of {{ paginator.count }} item{{ paginator.count|pluralize }}.
        </td>
    </tr>
</tfoot>
</table>

<hr />
{% show_report sale_list 'item,quantity,price' %}
{% endblock %}
