<table class="shopping-cart" border=1 cellspacing=0 width="100%">
    <caption>Items in the shopping basket</caption>
    <thead>
        <tr class="yellow">
            <td>Code</td>  
            <td class="width">Description</td>    
            <td class="adjacent">Price</td>  
            <td class="adjacent">Available</td>
            <td class="adjacent">Qty</td>
            <td class="adjacent">&nbsp;</td>
        </tr>
    </thead>
    <tbody>
        {% comment %}
        {% for item in items %}
        <tr class={% cycle 'even' 'odd' %}>
            <td class="code">{{ item.item.code }}</td>
            <td class="description">{{ item.item.description }}</td>
            <td class="price">{{ item.item.selling_price|floatformat:"2" }}</td>
            <td class="avail">{{ item.item.quantity }}</td>
            <td class="qty"><input type="text" value="{{ item.qty }}" name="{{ item.item.code }}" id="{{ item.item.code }}" /></td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="5">No items to display.</td>
        </tr>
        {% endfor %}
        {% endcomment %}
    </tbody>
    <tfoot>
        <tr>
            <td>
                <span id="item_count">0 items</span>
            </td>
            <td align="right">
                <span></span>
            </td>
            <td>
                <span id="total">0.00</span>
            </td>
            <td colspan="3">&nbsp;</td>
        </tr>
    </tfoot>
</table>