{% extends "base.html" %}

{% block content %}
    <!-- banner -->
    <div class="w3ls-banner"> 
        <!-- banner-text -->
        <div class="banner-text agileinfo"> 
            <div class="container">
                <div class="flexslider">
                    <ul class="slides">
                        <li>
                            <div class="banner-w3lstext"> 
                                <h2>Welcome to Salespoint</h2>
                                <p>A simple and revolutionary point of sale software.</p>
                            </div>
                        </li>
                        <li>
                            <div class="banner-w3lstext"> 
                                <h3>Salespoint</h3>
                                <p>A ready to go software that helps you take inventory of your goods, products and services while taking stock of what is left on the shelf for easy record keeping</p>
                            </div> 
                        </li>
                        <li>
                            <div class="banner-w3lstext"> 
                                <h3>Point of Sales with a difference</h3>
                                <p>Salespoint is not only fast and easy to use. But is incorporates strong record lab that helps you to take statistical records in an easy to understand format. Salespoint is the software for you</p>
                            </div> 
                        </li>
                    </ul> 
                </div>   
            </div>  
        </div>  
        <!-- //banner-text -->   
    </div>  
    <!-- //banner -->
   
{% endblock content %}
