{% extends "stock/base.html" %}
{% load static from staticfiles %}

{% block extrahead %}
<link href="{% static 'css/table.css' %}" rel="stylesheet" type="text/css" media="screen" />
{% endblock %}
{% block header %}Category list{% endblock %}

{% block toplinks %}
<div><a href="{% url 'stock_newcategory' %}" class="addbutton">add new</a></div>
{% endblock %}

{% block body %}
<table border=0 cellpadding=3 cellspacing=0 width=100% class="sortable">
<thead>
<tr>
    <th>edit</th>
    <th class='sort-alpha'>Name</th>
    <th class='sort-alpha'>Description</th>
</tr>
</thead>
<tbody>
        {% for category in object_list %}
            <tr class={% cycle "even" "odd" %}>
                <td><a href="{% url 'stock_editcategory' id=category.id %}">edit</a></td>
                <td>{{ category.name }}</td>
                <td>{{ category.description }}</td>
            </tr>
        {% empty %}
        No items to display
        {% endfor %}
</tbody>
<tfoot>
    <tr>
        <td>Count: {{ object_list|length }}</td>
        <td colspan=3></td>
    </tr>
</tfoot>
</table>
<br />
{% endblock %}
