{% extends "stock/base.html" %}
{% load pagination_tags %}

{% block extrahead %}
<link href="{{ MEDIA_URL }}css/table.css" rel="stylesheet" type="text/css" media="screen" />

<script>
$(function(){
$('#locations').val({{current_location_pk}});
$('#locations').change(function(){
    window.location.replace('?location='+$(this).val());
});
});

</script>
{% endblock %}
{% block header %}Stock list {% if current_location %}({{ current_location }}){% endif %}{% endblock %}

{% block toplinks %}
<div style="float: left;">
    <select id="locations">
        <option value='' default=true>Select location</option>
        {% for location in locations %}
            <option value={{ location.pk }}>{{ location.name }}</value>
        {% endfor %}
    </select>
</div>
<div style="float: right;"><a href="{% url stock_newitem %}" class="addbutton">add new</a></div>
{% endblock %}

{% block body %}
    {% autopaginate items 20 %}
    {% paginate %}
<table border=0 cellpadding=3 cellspacing=0 width=100% class="sortable">
<thead>
<tr>
    <th class='sort-alpha'>Item</th>
    <th class='sort-alpha'>Qty</th>
    <th class='sort-alpha'>Cost Price</th>
    <th class='sort-alpha'>Selling Price</th>
</tr>
</thead>
<tbody>
        {% for stock in items %}
            <tr class={% cycle "even" "odd" %}>
                <td>{{ stock.0 }}</td>
                <td>{{ stock.1 }}</td>
                <td>{{ stock.2 }}</td>
                <td>{{ stock.3 }}</td>
            </tr>
        {% empty %}
        No items to display
        {% endfor %}
</tbody>
<tfoot>
    <tr>
        <td>Count: {{ items|length }}</td>
        <td colspan=4></td>
    </tr>
</tfoot>
</table>
<br />
{% endblock %}
