{% extends "newbase.html" %}
{% load staticfiles %}

{% block title %}User list{% endblock %}


{% block content %}
<section class="wrapper">
<div class="row">
    <div class="col-md-9">
       <div class="table-agile-info">
         <div class="panel panel-default">
            <div class="panel-heading">
             {% block header %}User list{% endblock %}
            </div>

        <div class="row">
            <div class="col-md-9" style="padding-right:">
                <!-- <select id="locations" class="form-control input-lg">
                    <option value="" default=true >Select location</option>
                    {% for location in locations %}
                        <option value={{ location.pk }}>{{ location.name }}</value>
                    {% endfor %}
                </select>   -->             
            </div>
            <div class="col-md-3" style="padding-left:">
                <a style="display:block;" href="{% url 'stock_newuser' %}" class="btn btn-default btn-lg ">Add new</a>
            </div>
        </div>
        
            <div>
              <table class="table" ui-jq="footable" ui-options='{
                "paging": {
                  "enabled": true
                },
                "filtering": {
                  "enabled": true
                },
                "sorting": {
                  "enabled": true
                }}'>
                <thead>
                  <tr>
                    
                    <th data-breakpoints="xs">Edit</th>
                    <th>Name</th>
                    <th>Readonly</th>
                    <th>Location</th>
                    <th>Active?</th>
                  </tr>
                </thead>
                <tbody>

                    {% for user in users_list %}
                      <tr data-expanded="true" class="{% cycle "even" "odd" %}">
                        <td><a href="{% url 'stock_edituser' pk=user.pk %}">edit</a></td>
                        <td>{{ user.user.username }}</td>
                        <td>{{ user.read_only|yesno }}</td>
                        <td>{{ user.location }}</td>
                        <td>{{ user.user.is_active|yesno }}</td>
                      </tr>
                    {% empty %}
                        <p style="text-align:center; padding-top: 15px;">
                            No users to display
                        </p>
                    {% endfor %}
                </tbody>
                <tfoot>
                    <tr>
                        <td>Count: {{ users_list|length }}</td>
                        <td colspan="4"></td>
                    </tr>
                </tfoot>
              </table>
            </div>
          </div>
        </div>
    </div>
    <div class="col-md-3">
        {% include "movement/_submenu.html" %}
        </div>
    </div>
</div>
</section>

{% endblock content %}
