{% extends "stock/base.html" %}
{% load pagination_tags %}

{% block extrahead %}
<link href="{{ MEDIA_URL }}css/table.css" rel="stylesheet" type="text/css" media="screen" />
{% endblock %}
{% block header %}User list{% endblock %}

{% block toplinks %}
<div><a href="{% url stock_newuser %}" class="addbutton">add new</a></div>
{% endblock %}

{% block body %}
    {% autopaginate object_list 20 %}
    {% paginate %}

<table border=0 cellpadding=3 cellspacing=0 width=100% class="sortable">
<thead>
<tr>
    <th>edit</th>
    <th class='sort-alpha'>Name</th>
    <th class='sort-alpha'>Readonly?</th>
    <th class='sort-alpha'>Location</th>
    <th class='sort-alpha'>Active?</th>
</tr>
</thead>
<tbody>
    {% for user in object_list %}
        <tr class={% cycle "even" "odd" %}>
            <td><a href="{% url stock_edituser pk=user.pk %}">edit</a></td>
            <td>{{ user.user.username }}</td>
            <td>{{ user.read_only|yesno }}</td>
            <td>{{ user.location }}</td>
            <td>{{ user.active|yesno }}</td>
        </tr>
    {% empty %}
        No users to display
    {% endfor %}
</tbody>
<tfoot>
    <tr>
        <td>Count: {{ object_list|length }}</td>
        <td colspan=4></td>
    </tr>
</tfoot>
</table>
<br />
{% endblock %}
